* {
    margin: 0;
    padding: 0;
}

#body {
    background:#e3ebc7 ;
}

#cabecera {

    background-image: url("../images/index/My\ project\ 1.jpg");
    background-size:cover;
    height: auto;
    
}

#cabecera h1 {
    margin-bottom: 2px;
    text-align: left;
    padding-top: 60px;
    font-style: oblique;
    font-family: fantasy;
    font-size: 25px;
    color: #29a718;
    
}

.nav-item {
    display: block;
    float:left;
    align-items: center;
    list-style-type: none;
   

}

.nav-link {
	 color: rgb(206, 87, 87);
	font-family:fantasy ;
    font-size: 20px;
    
}

.nav-link:hover {

        color: #b90633;
        background-color: #b7d3b3;
      
    
}

#section {

    grid-template-columns: repeat (3 1fr);
    height: auto;
    width: auto;
    padding: 15px;
    color: black;
    }
    

.tipo {

    background: #ccc;
    border: 2px solid rgb(223, 11, 11);
    display: inline-flexbox;
    justify-items: auto;
    padding-left: 5px;
    padding-top: 5px;
    margin-bottom: 10px;
    transition: transform 5s;
       
}

.tipo:hover {
    transform: scale(0.9);
  }

  
 .tipos__img1  img {
    width: 250px;
    margin-left:auto;
    margin-right: auto;
    display: block;
   

       
   }

  .tipos__h3{
    padding-left: 5px;
    text-align:center;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 5px;

  } 

  .tipos__p {
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:center;
    margin: 10px;

  }
  .tipos__hr {border: 3px solid rgb(177, 79, 79); 
              border-radius: 500px/50px;
              height: 10px; 
              text-align: center;}

 
.comentarios {
    grid-area: comentarios;
    display: grid;
    grid-template-rows: repeat(3 1,5fr);
    grid-gap: 20px;
    padding: 10px;
    color: black;
    margin-bottom: 20px;
    
    
}   

aside h2 {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align:center;
    font-size: 25px;
    margin-bottom: 10px;
    background: #a58483;
    border-radius: 60px;
}


@keyframes aparecer{
    0%{
        opacity: 0;
        color: #e96f0a;
    }
    100%{
        opacity: 1;
        
    }
}

.testimonio__personas{
    border:dotted ;
    color: rgb(233, 58, 14);
    padding: 10px;
     text-align: center;
    font-size: 20px;
    font-style: oblique;
    animation-duration: 7s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
    
              
}

.center__img{
    width: 200px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: transform 3s;
    
}

.center__img:hover {
    transform: scale(1.15);
}

.right__img{
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: transform 5s;
}

.right__img:hover{
    transform: translate(15px, 15px);


}

h5 {
    text-align: center;
}


.footer__text {
    text-align: center;
}
/*

*Seccion Nosotros!
*Se utiliza el mismo stylo para el header, Nav y footer

*/


.nosotros__tipos__img1 img {
    width: 100%;

}

.nosotros__tipos__h3{
    padding-left: 5px;
    text-align:center;
    font-size: 30px;
    margin-bottom: 10px;
    font-style: oblique;
    font-family: fantasy;
    font-size: 35px;
    color: #af9a99;


} 

.nosotros__tipos__p {
    margin-top: 10px;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 15px;
    color: #7C081A;


 }
.nosotros__tipos__hr {
    border: 3px solid rgb(177, 79, 79); 
    border-radius: 300px/10px;
    height: 0px; 
    text-align: center;
    
}

.nosotros__lista__div{
 
 text-align: center;
 margin-right: 35px;
 margin-top: 5px; 
 color: #7C081A;
 

}

.nosotros__lista__li {
padding: 15px;
list-style-type: none;
color: #7C081A;

}    

/*fin stylo pag nosotros*/

/*inicio stylo pag bicicletas*/

.tipo__bicicletas img {
    width: 100%;
    display:inline-block; 

}

.tipos__bicicletas__hr {
    border: 2px inset rgb(128, 98, 163);
    height: 1px;
    width: 80%;
    margin-left: 50px;
    margin-bottom: 10px;
}

.tipos__bicicletas__h3 {
    text-align: center;
    margin-bottom: 10px;
   color: #7C081A;
}
.tipos__bicicletas__h3__precio {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    width: fit-content;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background: #aaa043;
    border-radius: 60px;
    transition: transform 5s;
       
        
}

.tipos__bicicletas__h3__precio:hover {

    transform: scale(1.20);
    background-color: #29a718;
}



.tipos__bicicletas__h4 {
    text-align: center;
    margin-bottom: 10px;
    font-family:'Courier New', Courier, monospace;
    color: #7C081A;
}

/*fin stylo pag Bicicletas*/

/*inicio stylo pag servicios*/



.tipos__service img {
        height: 50%;
        width: 100%;
        display:inline-block; 
        
    
    
}

.tipos__service__h3 {
    text-align: center;
    margin-bottom: 10px;
    color: #7C081A;
    
}

.tipos__service__hr {
            border: 0;
            height: 12px; 
            box-shadow: inset 0 12px 12px -12px rgb(97, 51, 128);
        
         }

.tipos__service__precio {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 25px;
        width: fit-content;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
        background: #aaa043;
        border-radius: 60px;
        transition: transform 5s;
       
        
}

.tipos__service__precio:hover {

    background: #29a718;
    transform: scale(1.20);

}

.tipos__service__p {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
   
    margin-top: 5px;
    color: #7C081A;
}

/*fin stylo pag Servicios*/

/*inicio stylo pag contacto
Mismo formato header- footer- nav
*/


/* Horarios y mensaje*/
.bloque__lista__h2 {
    font-family:serif;
    font-size: 40px;
    color: #7C081A;
    text-decoration: underline;
}
.bloque__lista__p {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    margin-top: 5px;
    color: #7C081A;
    padding-bottom: 10px;
}

/*
.bloque__lista {

    background-color: #B3996E;
    width: 25%;
    float: left;
    margin-left: 15px;
    margin-top: 55px;
    text-align: center;
    
    
}

.bloque__lista__h2 {
    font-family:serif;
    font-size: 40px;
    color: #7C081A;
    text-decoration: underline;
}

.bloque__lista__p {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    margin-top: 5px;
    color: #7C081A;
    padding-bottom: 10px;
}

.bloque__lista__hr {
            border: 3px solid rgb(177, 79, 79); 
            border-radius: 300px/10px;
            height: 0px; 
            text-align: center;
            margin-top: 15px;
           
    }

*/

/* Formulario*/

#bloque__contacto {
    text-align: center;

}
.row  {
    display: flexbox;
    justify-content:space-around ;
}


/*Boton enviar*/

.col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
    display: unset;
}


button.submit { 
    padding: 9px 17px;
    font-family: sans-serif;
    font-weight: bold; line-height: 1.5; color:black;
    border: none; text-shadow: 0 5px 5px
    rgba(25, 25, 25, 0.5);
    background-image: -moz-linear-gradient(0%
    100% 90deg, #222, #222);
    background-color: #fff; border: 1px solid
    #f1f1f1;
    border-radius: 10px; box-shadow: 0 1px 2px
    rgba(0, 0, 0, 0.5);}
    button.submit:hover { opacity:.80; cursor:pointer; color: #fff; }
    button.submit:active { border: 1px solid
    #222;
    box-shadow: 0 0 10px 5px #444 inset;
   }